<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ideograph Finder</title>
  <meta name="description" content="Ideograph Finder">
  <meta name="author" content="Ben Yang">

  <link rel="stylesheet" href="static/css/styles.css?v=1.0">
  <script type="text/javascript">
    ideoClick = e => document.getElementById("scratchpad").value += e.innerText;
    clearScratchpad = () => document.getElementById("scratchpad").value = "";
    copyScratchpad = () => navigator.clipboard.writeText(document.getElementById("scratchpad").value);
  </script>
</head>

<body>
  <header>
    <form id="component-form" action="/" method="get">
      <span>
        <label for="components">Components:</label>
        <input 
          type="text" 
          id="components" 
          name="components"
          autocomplete="off"
          autofocus
          value="{{ components }}"
        />
      </span>
    </form>
    <div class="scratchpad-container">
      <input
        type="text"
        id="scratchpad"
        autocomplete="off"
      />
      <button onclick="copyScratchpad()">Copy</button>
    </div>
  </header>
  <main>  
    {%- for ideograph in ideographs -%}
      <span class="ideograph-container">
        <span class="ideograph" onclick="ideoClick(this);">{{ ideograph[0] }}</span>
        <div class="links">
          <a href="https://en.wiktionary.org/wiki/{{ ideograph[0] }}" target="_blank">w</a>
          <a href="https://translate.panlex.org/?langDe=cmn-000&langAl=eng-000&txt={{ ideograph[0] }}&trnTrn=1" target="_blank">p(s)</a>
          <a href="https://translate.panlex.org/?langDe=cmn-001&langAl=eng-000&txt={{ ideograph[0] }}&trnTrn=1" target="_blank">p(t)</a>
          <a href="https://translate.panlex.org/?langDe=yue-000&langAl=eng-000&txt={{ ideograph[0] }}&trnTrn=1" target="_blank">p(c)</a>
        </div>
      </span>
    {%- endfor -%}
  </main>

</body>
</html>