<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ideograph Finder</title>
  <meta name="description" content="Ideograph Finder">
  <meta name="author" content="Ben Yang">

  <link rel="stylesheet" href="static/css/styles.css">

  <script>
    cmpClick = tag => document.getElementById("components").value += tag.innerText;
  </script>
</head>

<body>
  <header>
    <div class="top-row">
      <form id="component-form" action="/" method="get">
        <span>
          <label for="components">Components:</label>
          <input 
            type="text" 
            id="components" 
            name="components"
            autocomplete="off"
            autofocus
            value="{{ components }}"
          />
        </span>
      </form>
      <div class="scratchpad-container">
        <input
          type="text"
          id="scratchpad"
          autocomplete="off"
        />
      </div>
    </div>
    <div class="common-components">
      {%- for cmp in common_components -%}
        <span onclick="cmpClick(this)">{{ cmp }}</span>
      {%- endfor -%}
    </div>
  </header>
  <main>  
    {%- for ideograph in ideographs -%}
      <span class="ideograph-container">
        <details>
          <summary class="ideograph">{{ ideograph[0] }}</summary>
          <span class="components">
          {%- for component in ideograph[1] -%}
            <span onclick="cmpClick(this)">{{ component }}</span>
          {%- endfor -%}  
          </span>
        </details>
        <div class="links">
          <a href="https://en.wiktionary.org/wiki/{{ ideograph[0] }}" target="_blank">w</a>
          <a href="https://translate.panlex.org/?langDe=cmn-000&langAl=eng-000&txt={{ ideograph[0] }}&trnTrn=1" target="_blank">p(s)</a>
          <a href="https://translate.panlex.org/?langDe=cmn-001&langAl=eng-000&txt={{ ideograph[0] }}&trnTrn=1" target="_blank">p(t)</a>
          <a href="https://translate.panlex.org/?langDe=yue-000&langAl=eng-000&txt={{ ideograph[0] }}&trnTrn=1" target="_blank">p(c)</a>
        </div>
      </span>
    {%- endfor -%}
  </main>

</body>
</html>