body {
    margin: 16px;
}

header {
    /* position: fixed;
    top: 0;
    left: 0;
    block-size: 160px; */
    inline-size: 100%;
    background-color: lightgrey;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-row {
    inline-size: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.common-components {
    inline-size: 100%;
    padding-inline-start: 16px;
    font-size: 3em;
}

#component-form {
    margin: 16px;
    font-size: 2em;
}

#components {
    font-size: 1em;
}

#scratchpad {
    font-size: 2em;
    margin: 16px;
}

main {
    /* padding-block-start: 128px; */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.ideograph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    inline-size: 144px;
    min-block-size: 252px;
    justify-content: flex-end;
}

.ideograph {
    font-size: 8em;
    list-style: none;
    text-align: center;
}

details {
    inline-size: 100%;
}

.components {
    font-size: 3em;
    position: absolute;
    background-color: white;
    border: 1px black solid;
    inline-size: 144px;
    box-shadow: 2px 2px 5px black;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5em;
}